<footer class="bg-gray-800 mt-6">
  <div class="text-white footer_wrapper flex items-center justify-center">
    <span class="text-xs">Todos los derechos reservados Tienda Tecno 2021</span>
  </div>
</footer>