<header>
  <div class="relative header_wrapper" style="min-height: 250px;">
    <div>
      <img class="banner" src="/assets/images/banners/music-audio-alp-201709" alt="">
    </div>
    <div class="absolute top-1/2 w-full text-center">
      <span class="font-bold text-3xl text-gray-700">Tinda e-commerce</span>
    </div>
  </div>
</header>