<div class="py-3">
  <h1 class="text-gray-700 font-bold text-xl uppercase">Smartphones</h1>
</div>

<div class="flex mt-6">
    <div>
        <img src="/assets/images/phones/{{product.image}}" style="height: 250px;" alt="">
    </div>
    <div class="flex items-center justify-center p-4 flex-col">
        <h2 class="text-gray-600 font-bold text-md">{{product.name}}</h2>
        <form action="/checkout/{{product.slug}}/preferences" class="mt-4" method="POST">
            <div class="grid gap-6">
                <div>
                    <label for="" class="text-gray-600 font-semibold">Precio: S./ </label>
                    <input type="number" class="text-gray-600 font-semibold" value="{{product.price}}" disabled>
                </div>

                <div>
                    <label for="" class="text-gray-600 font-semibold">Cantidad: </label>
                    <input  class="text-gray-600 font-semibold" type="number" value="1" disabled>
                </div>
                <button type="submit" class="px-4 py-2 text-white rounded font-semibold bg-blue-500 hover:bg-blue-600 text-sm">Pagar la compra</button>
            </div>
        </form>
    </div>
</div>

{{#section 'script'}}
<script src="https://www.mercadopago.com/v2/security.js" view="detail"></script>
{{/section}}